[Unit]
Description=Obsidian GDrive Sync
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/rclone bisync -v --drive-skip-shortcuts rafadecastro:Apps/Obsidian %h/Documents/obsidian/

[Install]
WantedBy=timers.target
