[Desktop Entry]
Version=1.0
Type=Application
Name=Xmonad Custom
Comment=Lightweight X11 tiled window manager written in Haskell
Exec=/home/rafadc/.local/bin/xmonad
Icon=xmonad
Terminal=false
StartupNotify=false
Categories=Application;
